# texlive-auto-package-install
# https://github.com/gucci-on-fleek/texlive-auto-package-install
# SPDX-License-Identifier: MPL-2.0+
# SPDX-FileCopyrightText: 2026 Max Chernoff
*.aux
*.log
*.log
*.pdf
*.pdf
*.qdf
*.so
*.tmp
*.tua
*.tuc
*.zip
*#
build/*
documentation/lwc-manual.mkxl
release.title
temp*

!texmf/**
